* {
    margin: 0;
    padding: 0;
}

body {
    background:linen;
    font-family: 'Bungee Shade', cursive;
}



h1 {
    text-align: center;
    margin-top: 2rem;
}
.container {
    /* border: 1px solid orange; */
    margin: 4rem auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 40rem;
    justify-content: center;

    
}

.info {
    /* border: 1px solid lightsalmon; */
    background: lightsalmon;
    color: rgb(147, 64, 32);
    border-radius: 1.2em;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 13rem;
}

/* game */

.game {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 4rem;
   
 
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer
}

.box:hover {
    background: lightsalmon
}

button {
    border: 0;
    padding: 1em 3em;
    border-radius: 0.8em;
    background:rgb(160, 194, 205);
    /* font-family:'Bungee Shade', cursive; */
    color: black;
    font-size: bold;
    transition: all 0.4s ease;
    cursor: pointer
}

button:hover {
  background: rgb(150, 192, 206);
  color: white;
  translate: 0px 0.9px;
}

.bt {
    border-top: 0
}

.bb {
    border-bottom: 0;
}

.bl {
    border-left: 0;
}

.br {
    border-right: 0
}

@media screen and (min-width: 508px) {
   

    .container {
        justify-content: space-between;
    }

    .info {
        height: auto;
    }
    .game {
        margin-bottom: 0;
    }
}